main {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.titulo {
    font-family: 'Baskervville', serif;
    font-weight: 300;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.copyright {
    align-items: center;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.3cap;
    padding: 10px;
    text-decoration: none;
}

.link_git {
    color: rgb(203, 41, 92);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.3cap;
    padding: 10px;
    text-decoration: none;
}


footer {
    background-color: #43444D;
    display: block;
    align-items: center;
    justify-content: space-between;
    font-size: small;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    bottom: 0;
    width: 100%;
    position: fixed;
    margin-top: 20px;
}

footer div {
    align-content: center;
    color: #FFFFFF;
}
